{% if current_tags %}
  {% capture blog_title %}<h1 class="page__header__title {% if section.settings.underline_title %}title-underline{% endif %} section__title-style">{{ blog.title | link_to: blog.url }}: <span>{{ current_tags.first | capitalize }}</span></h1>{% endcapture %}
{% else %}
  {% capture blog_title %}<h1 class="page__header__title {% if section.settings.underline_title %}title-underline{% endif %} section__title-style">{{ blog.title }}</h1>{% endcapture %}
{% endif %}

{% include 'page-header', snippet_instance: section, the_title: blog_title %}

{% schema %}
{
  "name": "Blog Header",
  "settings": [
    {
      "type": "header",
      "content": "Blog Header Style"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Title Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "underline_title",
      "label": "Underline Title",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_custom_styles",
      "label": "Enable Custom Styles",
      "default": true
    },
    {
      "type": "range",
      "id": "height",
      "min": 200,
      "max": 600,
      "step": 10,
      "unit": "px",
      "label": "Section Height",
      "default": 250
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "header",
      "content": "Background Style"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_image_style",
      "label": "Background Image Style",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable Parallax Effect",
      "default": false
    },
    {
      "type": "range",
      "id": "darken",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Darken Background",
      "default": 0
    }
  ]
}
{% endschema %}
