{% if collection.title != blank %}
  {% capture collection_title %} <h1 class="page__header__title section__title-style">{{ collection.title }}</h1> {% endcapture %}
{% else %}
  {% if template contains 'search' %}
    {% capture collection_title %} <h1 class="page__header__title section__title-style">{{ 'general.search.title' | t }}</h1> {% endcapture %}
  {% else %}
    {% capture collection_title %} <h1 class="page__header__title section__title-style">{{ page_title }}</h1> {% endcapture %}
  {% endif %}
{% endif %}

{% assign collection_header = section %}

{% if collection.image %}
  {% assign header_image = collection.image %}
{% else %}
  {% assign header_image = section.settings.default_bg_image %}
{% endif %}

{% include 'page-header', snippet_instance: section, bg_image: header_image, the_title: collection_title, the_description: collection.description %}

{% schema %}
{
  "name": "Collections Header",
  "settings": [
    {
      "type": "header",
      "content": "Header Style"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_styles",
      "label": "Enable Custom Styles",
      "default": true
    },
    {
      "type": "range",
      "id": "height",
      "min": 120,
      "max": 600,
      "step": 10,
      "unit": "px",
      "label": "Section Height",
      "default": 250
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Description Color"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Title Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background Style"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "default_bg_image",
      "label": "Default Background Image",
      "info": "Used if a collection doesn't have a featured image."
    },
    {
      "type": "select",
      "id": "background_image_style",
      "label": "Background Image Style",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable Parallax Effect",
      "default": false
    },
    {
      "type": "range",
      "id": "darken",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Darken Background",
      "default": 0
    }
  ]
}
{% endschema %}
