{% section 'collection-header' %}

<div class="collection-page">
  <div class="row">
    <div class="columns collection-content collections-list">
      {% section 'list-collections' %}
    </div>
  </div>
</div>
